<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	
	<resultMap type="myDTO" id="myDTOmap">
		<result column="mid" property="id"/>
		<result column="mname" property="mname"/>
		<result column="mno" property="mno"/>
		<result column="mgrade" property="mgrade"/>
		<result column="mpfpic" property="profile"/>
	</resultMap>
	
	<update id="updateProfile" parameterType="myDTO">
		<![CDATA[
			UPDATE member SET mpfpic=#{profile} WHERE mid=#{id}
		]]>
	</update>
	
	<select id="getProfile" resultMap="myDTOmap" parameterType="myDTO">
		SELECT mpfpic FROM member WHERE mid=#{id}
	</select>
	
</mapper>